!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
	%body
		Hello #{@firstname} #{@lastname},
		%br
		%p
			Thanks for creating the course 
			%strong #{@coursename.capitalize} 
			at HomeRoom. 
		%p
			If you haven't already, please invite your teacher to join the course at 
			= link_to "This Link", new_course_invite_teacher_url(@course)
		%p	
			The course will not be active unless the teacher accepts it. You can view the current status of the course by visiting your dashboard at 

			= link_to "Homeroom Dashboard", "http://blooming-light-4303.heroku.com/dashboard"
		%p
			Thank you for using 
			= link_to "Homeroom", "http://blooming-light-4303.heroku.com"