!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
	%body
		Hello #{@email},
		%br
		%p
			Your teacher 
			%strong #{@teacher_firstname} #{@teacher_lastname}
			of course 
			%strong #{@coursename}
			has created a Homeroom course, and would like you to join. 

		%p	
			You can join the course by visiting your dashboard at 

			= link_to "Homeroom Dashboard", "http://homeroom9.com/dashboard"
		%p
			To find out more about Homeroom please visit our site at 
			= link_to "Homeroom", "http://homeroom9.com"