<!DOCTYPE html>
<html>
 
<head>
  <title>Homeroom</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id = "all_content">
	<%=render  "layouts/header"%>
	<%unless current_user.blank?%>
		<%=render "layouts/second_header"%>
	<%end%>
	
	<%unless current_page?(:controller => "/home", :action => "index")%>
		<%flash.each do |key,value|%>
		    <div class="content">
		    	<div class="section">
				    <div class="row">
				      <div class="flash <%=key%> alert-box eight columns"><%=value%></div>
				    </div>
			    </div>
		    </div>
	  	<%end%>
	 <%end%>
	<%= yield %>
	<%= yield :scripts %>
</div>

<%=render "layouts/footer"%>

</body>
</html>
