<!DOCTYPE html>
<html>
 
<head>
  <title>Homeroom</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id = "all_content">
	<%=render  "layouts/header"%>
	<%flash.each do |key,value|%>
	    <div class="section">
	      <div class="row">
	        <div class="flash <%=key%> alert-box eight columns"><%=value%></div>
	      </div>
	    </div>
  	<%end%>
	<%= yield %>
	 <div class="clearfooter"></div>
</div>

<div id="custom_footer">
	<%=render "layouts/footer"%>
</div>

</body>
</html>
